* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* padding: 2rem; */
  }
  
  button {
    margin: 2rem 0;
    padding: 1rem 2rem;
    width: 120px;
    cursor: pointer;
  }
  
  img {
    width: 120px;
  }

  .spinner {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }